In [2]:
import numpy as np 
import pandas as pd 
from sklearn.impute import SimpleImputer

In [6]:
test_data = pd.read_csv(r"G:\My Drive\kaggle dataset\test.csv")
train_data = pd.read_csv(r"C:\kaggle Dataset\train_house_prediction.csv")                          
print("shape of train df = " ,train_data.shape)
print("shape of test df = " ,test_data.shape)

shape of train df =  (1460, 81)
shape of test df =  (1459, 80)

In [8]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [12]:
# train data has diff inp and out and in test data only input is there output is produced here
X_train = train_data.drop(columns="SalePrice") # x is capital bcz matrix data belong
y_train = train_data["SalePrice"] # y is vector data
print("shape of train df = " ,X_train.shape)
print("shape of test df = " ,y_train.shape)

shape of train df =  (1460, 80)
shape of test df =  (1460,)